body{
    margin: 0;
    background-color: #f2e6d9;
    font-family: 'Poppins', sans-serif
}


.generaltext{
    text-align: left;
    max-width: 70%;
    font-size: 1vw;
    margin-left: 15%;
}

.generaltext h1{
    text-align: center;
}

.image-container {
    display: flex;
    place-content: center;
}

.image-container img {
    width: 23.33%; 
    height: auto;
    padding: 5%;
}

.aboutpic{
    border-radius: 110px;
}

.hero-about {
    min-height: 60vh;
    background-image: url("../fotos/about-hero.webp");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-about hgroup {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1.5rem;
    max-width: 100%;
    color: white;
    background-color: #f2e6d9bd;
    padding-left: 2%;
    padding-right: 2%;
}

.hero-about hgroup h1 {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 6rem;
    text-shadow: .2px .2px gray;
}

.hero-about hgroup p {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 300 !important;
    text-shadow: .3px .3px gray;
}

.content-about p {
    line-height: 1.8rem;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 300;
}



@media screen and (max-width: 1120px) {
    .general-information {
        flex-direction: column;
        align-items: center;
    }
}

.our-team {
    text-align: center;
    background-color: #f2e6d9;
    padding: 2rem 8rem;
    background-color: #f0cdaa;
}

.our-team h3 {
    font-size: xx-large;
    font-family: 'Montserrat', sans-serif !important;
    word-spacing: .3rem;
    margin-bottom: 2rem;
}

.members {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 2rem;
    row-gap: 4rem;
}

.member {
    display: flex;
    flex-direction: column;
    gap: 1%;
}

.member div h4 {
    font-family: 'Montserrat', sans-serif !important;
    margin-bottom: 0px;
}

.member p {
    margin-top: 1%;
}

.member div img {
    max-width: 8rem;
    border-radius: 9999px;
}

.member a {
    font-family: 'Montserrat', sans-serif !important;
    color: black;
}

@media screen and (max-width: 1024px) {
    .members {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

@media screen and (max-width: 768px) {
    .generaltext{
        font-size: medium;
    }
}

.nieuwe_footer_box {
    width: auto;
    height: 400px;
    background-color: white;
    align-items: center;
    display: flex;
    justify-content: center;
}

.box_van_contact_info {
    padding: 1%;
    width: 94%;
    height: 80%;
    background-color: white;
    color: black;
    text-align: left;
    align-self: center;
}


.footer_icon img{
    margin-top: 10px;
    margin-left: 10px;
    transition: transform 0.4s;
}

.footer_icon:hover img{
    transform: scale(1.06);
}

#footer_social {
    font-size: large;
    font-family: 'Poppins', sans-serif;
}

#footer_over_ons {
    font-size: large;
    font-family: 'Poppins', sans-serif;
}

.social_box {
    text-align: right;
}

.footer_tabel{
    
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100%;
    border-radius: 14px;
    padding: 5px;
}

.footer_tabel tr{
    font-size: 105.5%;
    font-family: 'Poppins', sans-serif;
}

.footer_tabel a{
    text-decoration: none;
    color: #986E43;
    font-family: 'Poppins', sans-serif;
}

.footer_tabel a:hover{
    color: gray;
}

.footer_main{
    border-radius: 10px;
    border-color: #986e43;
    border-style: double;
    transition: transform 0.4s;
    max-width: 20%;
}

.footer_main:hover{
    transform: scale(1.02);
}