html, body{
    margin: 0;
    padding: 0;
    background-color: #f2e6d9;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif
}
.Background-fixed {
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    width: 100%;
    margin: 0;
}
.ImageBackgroundWrap, .ca-container {
    width: 100%;
    max-width: 100%;
}

.ImageBackgroundWrap {
    position: relative;
    z-index: 0;
    background-size: cover;
    background-repeat: no-repeat;
}

.ImageInnerWrap {
    max-width: 100%;
    margin: 0 auto;
    padding-top: 200px;
    padding-bottom: 100px;
    font-size: 2vw;
}

.TextBackground {
    background-color: #f2e6d9bd;
    font-size: larger;
    padding: 2%;
    color: white;
    text-align: center;
}

.ca-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(3, 35vw); 
    gap: 10px; 
    padding: 20px;
}
.grid-pic1, .grid-text1, .grid-text2, ... {
    padding: 20px;
    margin: auto; 
}


.grid-pic1{
    text-align: center;
    padding: 20px;
    grid-area: 1 / 1 / 2 / 3;
}

.beachleft {
    width: 24vw;
    margin-left: 10vw;
    border-radius: 3%;
}

.grid-text1 {
    color: black;
    text-align: left;
    padding: 20px;
    grid-area: 1 / 3 / 2 / 5;
    margin-left: 3vw;
    font-size: 1vw;
}

.grid-text2 {
    color: black;
    text-align: left;
    padding: 20px;
    grid-area: 2 / 1 / 3 / 3;
    margin-left: 2.5vw;
    font-size: 1vw;
}

.grid-text2 h1 {
    margin-left: 3vw;
}

.grid-pic2 {
    color: black;
    text-align: center;
    padding: 20px;
    grid-area: 2 / 3 / 3 / 5;
}

.picture-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(6, 11vh); 
    gap: 10px; 
    padding: 20px;
}

.picture-pic1 {
    background-image: url(../fotos/tikal.jpg);
    background-size: cover;
    color: #fff;
    text-align: center;
    grid-area: 1 / 1 / 3 / 2;
    border-radius: 15px;
}

.picture-pic1 {
    position: relative;
    overflow: hidden;
}

.picture-pic1::before {
    content: "Tikal, Guatamala";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6); 
    z-index: 1; 
    opacity: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    transition: opacity 0.3s;
    font-size: 1.5vw;
}


.picture-pic1:hover::before {
    opacity: 1; 
}

.picture-pic2 {
    background-image: url(../fotos/arenal-volcano.jpg);
    background-size: cover;
    color: #fff;
    text-align: center;
    grid-area: 2 / 2 / 4 / 3;
    border-radius: 15px;
}

.picture-pic2 {
    position: relative;
    overflow: hidden;
}

.picture-pic2::before {
    content: "Arenal Volcano, Costa Rica";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6); 
    z-index: 1; 
    opacity: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    transition: opacity 0.3s;
    font-size: 1.5vw;
}

.picture-pic2:hover::before {
    opacity: 1; 
}

.picture-pic3 {
    background-image: url(../fotos/caye-caulker.jpg);
    background-size: cover;
    color: #fff;
    text-align: center;
    grid-area: 3 / 1 / 5 / 2;
    border-radius: 15px;
}

.picture-pic3 {
    position: relative;
    overflow: hidden;
}

.picture-pic3::before {
    content: "Caye Caulker, Belize";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6); 
    z-index: 1; 
    opacity: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    transition: opacity 0.3s;
    font-size: 1.5vw;
}

.picture-pic3:hover::before {
    opacity: 1; 
}

.picture-pic4 {
    background-image: url(../fotos/antigua.jpg);
    background-size: cover;
    color: #fff;
    text-align: center;
    grid-area: 4 / 2 / 6 / 3;
    border-radius: 15px;
}

.picture-pic4 {
    position: relative;
    overflow: hidden;
}

.picture-pic4::before {
    content: "Antigua, Guatemala";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6); 
    z-index: 1; 
    opacity: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    transition: opacity 0.3s;
    font-size: 1.5vw;
}

.picture-pic4:hover::before {
    opacity: 1; 
}

.picture-pic5 {
    background-image: url(../fotos/manuel.jpg);
    background-size: cover;
    background-position: 0;
    color: #fff;
    text-align: center;
    grid-area: 5 / 1 / 7 / 2;
    border-radius: 15px;
}

.picture-pic5 {
    position: relative;
    overflow: hidden;
}

.picture-pic5::before {
    content: "Manuel Antonio National Park, Costa Rica";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6); 
    z-index: 1; 
    opacity: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    transition: opacity 0.3s;
    font-size: 1.5vw;
}

.picture-pic5:hover::before {
    opacity: 1; 
}

.grid-item {
    margin: 0;
    background: #ff0000;
}

.card {
    background-color:#f0cdaa;
    width: 100%;
    max-width: 500px;
    border: 1px solid #ffffff;
    border-radius: 3%;
    overflow: hidden;
    margin-top: 10vh;
    margin-left: 2vw;
    margin: 10vh auto;
    box-sizing: border-box;
}

.card:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}

.card img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.card-content {
    padding: 15px;
}

.card-content h2 {
    margin-bottom: 10px;
    font-size: 1.3vw;
}

.card-content p {
    margin-bottom: 15px;
    font-size: 0.9vw;
}

.card-content a {
    display: block;
    color: #007BFF;
    font-weight: bold;
}

/*-----------------Asia-------------------*/
/*----------------------------------------*/


.picture-pic1-asia {
    background-image: url(../fotos/greatwall.jpg);
    background-size: cover;
    color: #fff;
    text-align: center;
    grid-area: 1 / 1 / 3 / 2;
    border-radius: 15px;
}

.picture-pic1-asia {
    position: relative;
    overflow: hidden;
}

.picture-pic1-asia::before {
    content: "Great Wall of China, China";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6); 
    z-index: 1; 
    opacity: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    transition: opacity 0.3s;
    font-size: 1.5vw;
}


.picture-pic1-asia:hover::before {
    opacity: 1; 
}

.picture-pic2-asia {
    background-image: url(../fotos/tajmahal2.jpg);
    background-size: cover;
    color: #fff;
    text-align: center;
    grid-area: 2 / 2 / 4 / 3;
    border-radius: 15px;
}

.picture-pic2-asia {
    position: relative;
    overflow: hidden;
}

.picture-pic2-asia::before {
    content: "Taj Mahal, India";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6); 
    z-index: 1; 
    opacity: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    transition: opacity 0.3s;
    font-size: 1.5vw;
}

.picture-pic2-asia:hover::before {
    opacity: 1; 
}

.picture-pic3-asia {
    background-image: url(../fotos/mountfuji.jpg);
    background-size: cover;
    color: #fff;
    text-align: center;
    grid-area: 3 / 1 / 5 / 2;
    border-radius: 15px;
}

.picture-pic3-asia{
    position: relative;
    overflow: hidden;
}

.picture-pic3-asia::before {
    content: "Mount Fuji, Japan";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6); 
    z-index: 1; 
    opacity: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    transition: opacity 0.3s;
    font-size: 1.5vw;
}

.picture-pic3-asia:hover::before {
    opacity: 1; 
}

.picture-pic4-asia {
    background-image: url(../fotos/phiphi.jpg);
    background-size: cover;
    color: #fff;
    text-align: center;
    grid-area: 4 / 2 / 6 / 3;
    border-radius: 15px;
}

.picture-pic4-asia {
    position: relative;
    overflow: hidden;
}

.picture-pic4-asia::before {
    content: "Phi Phi Islands, Thailand";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6); 
    z-index: 1; 
    opacity: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    transition: opacity 0.3s;
    font-size: 1.5vw;
}

.picture-pic4-asia:hover::before {
    opacity: 1; 
}

.picture-pic5-asia{
    background-image: url(../fotos/bali.jpg);
    background-size: cover;
    background-position: 0;
    color: #fff;
    text-align: center;
    grid-area: 5 / 1 / 7 / 2;
    border-radius: 15px;
}

.picture-pic5-asia {
    position: relative;
    overflow: hidden;
}

.picture-pic5-asia::before {
    content: "Bali, Indonesia";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6); 
    z-index: 1; 
    opacity: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    transition: opacity 0.3s;
    font-size: 1.5vw;
}

.picture-pic5-asia:hover::before {
    opacity: 1; 
}

/*-----------------Oceania-------------------*/
/*----------------------------------------*/

.picture-pic1-oceania {
    background-image: url(../fotos/operahouse.jpg);
    background-size: cover;
    color: #fff;
    text-align: center;
    grid-area: 1 / 1 / 3 / 2;
    border-radius: 15px;
}

.picture-pic1-oceania {
    position: relative;
    overflow: hidden;
}

.picture-pic1-oceania::before {
    content: "Sydney Opera House, Australia";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6); 
    z-index: 1; 
    opacity: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    transition: opacity 0.3s;
    font-size: 1.5vw;
}


.picture-pic1-oceania:hover::before {
    opacity: 1; 
}

.picture-pic2-oceania {
    background-image: url(../fotos/milfordsound.jpg);
    background-size: cover;
    color: #fff;
    text-align: center;
    grid-area: 2 / 2 / 4 / 3;
    border-radius: 15px;
}

.picture-pic2-oceania {
    position: relative;
    overflow: hidden;
}

.picture-pic2-oceania::before {
    content: "Milford Sound, New Zealand";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6); 
    z-index: 1; 
    opacity: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    transition: opacity 0.3s;
    font-size: 1.5vw;
}

.picture-pic2-oceania:hover::before {
    opacity: 1; 
}

.picture-pic3-oceania {
    background-image: url(../fotos/borabora.jpg);
    background-size: cover;
    color: #fff;
    text-align: center;
    grid-area: 3 / 1 / 5 / 2;
    border-radius: 15px;
}

.picture-pic3-oceania {
    position: relative;
    overflow: hidden;
}

.picture-pic3-oceania::before {
    content: "Bora Bora, French Polynesia";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6); 
    z-index: 1; 
    opacity: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    transition: opacity 0.3s;
    font-size: 1.5vw;
}

.picture-pic3-oceania:hover::before {
    opacity: 1; 
}

.picture-pic4-oceania {
    background-image: url(../fotos/barrierreef.jpg);
    background-size: cover;
    color: #fff;
    text-align: center;
    grid-area: 4 / 2 / 6 / 3;
    border-radius: 15px;
}

.picture-pic4-oceania {
    position: relative;
    overflow: hidden;
}

.picture-pic4-oceania::before {
    content: "The Great Barrier Reef, Australia";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6); 
    z-index: 1; 
    opacity: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    transition: opacity 0.3s;
    font-size: 1.5vw;
}

.picture-pic4-oceania:hover::before {
    opacity: 1; 
}

.picture-pic5-oceania {
    background-image: url(../fotos/rotorua.jpg);
    background-size: cover;
    background-position: 0;
    color: #fff;
    text-align: center;
    grid-area: 5 / 1 / 7 / 2;
    border-radius: 15px;
}

.picture-pic5-oceania {
    position: relative;
    overflow: hidden;
}

.picture-pic5-oceania::before {
    content: "Rotorua, New Zealand";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6); 
    z-index: 1; 
    opacity: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    transition: opacity 0.3s;
    font-size: 1.5vw;
}

.picture-pic5-oceania:hover::before {
    opacity: 1; 
}

/*-----------------Europe-------------------*/
/*----------------------------------------*/

.picture-pic1-europe {
    background-image: url(../fotos/eiffel.jpg);
    background-size: cover;
    color: #fff;
    text-align: center;
    grid-area: 1 / 1 / 3 / 2;
    border-radius: 15px;
}

.picture-pic1-europe {
    position: relative;
    overflow: hidden;
}

.picture-pic1-europe::before {
    content: "Eiffel Tower, France";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6); 
    z-index: 1; 
    opacity: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    transition: opacity 0.3s;
    font-size: 1.5vw;
}


.picture-pic1-europe:hover::before {
    opacity: 1; 
}

.picture-pic2-europe {
    background-image: url(../fotos/colloseum.jpg);
    background-size: cover;
    color: #fff;
    text-align: center;
    grid-area: 2 / 2 / 4 / 3;
    border-radius: 15px;
}

.picture-pic2-europe {
    position: relative;
    overflow: hidden;
}

.picture-pic2-europe::before {
    content: "Colosseum, Italy";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6); 
    z-index: 1; 
    opacity: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    transition: opacity 0.3s;
    font-size: 1.5vw;
}

.picture-pic2-europe:hover::before {
    opacity: 1; 
}

.picture-pic3-europe {
    background-image: url(../fotos/santorini.jpg);
    background-size: cover;
    color: #fff;
    text-align: center;
    grid-area: 3 / 1 / 5 / 2;
    border-radius: 15px;
}

.picture-pic3-europe {
    position: relative;
    overflow: hidden;
}

.picture-pic3-europe::before {
    content: "Santorini, Greece";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6); 
    z-index: 1; 
    opacity: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    transition: opacity 0.3s;
    font-size: 1.5vw;
}

.picture-pic3-europe:hover::before {
    opacity: 1; 
}

.picture-pic4-europe {
    background-image: url(../fotos/swissalps.jpg);
    background-size: cover;
    color: #fff;
    text-align: center;
    grid-area: 4 / 2 / 6 / 3;
    border-radius: 15px;
}

.picture-pic4-europe {
    position: relative;
    overflow: hidden;
}

.picture-pic4-europe::before {
    content: "Swiss Alps, Switzerland";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6); 
    z-index: 1; 
    opacity: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    transition: opacity 0.3s;
    font-size: 1.5vw;
}

.picture-pic4-europe:hover::before {
    opacity: 1; 
}

.picture-pic5-europe {
    background-image: url(../fotos/barcelona.jpg);
    background-size: cover;
    background-position: 0;
    color: #fff;
    text-align: center;
    grid-area: 5 / 1 / 7 / 2;
    border-radius: 15px;
}

.picture-pic5-europe {
    position: relative;
    overflow: hidden;
}

.picture-pic5-europe::before {
    content: "Barcelona, Spain";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6); 
    z-index: 1; 
    opacity: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    transition: opacity 0.3s;
    font-size: 1.5vw;
}

.picture-pic5-europe:hover::before {
    opacity: 1; 
}

@media screen and (max-width: 768px) {
    .card {
        width: 90%;
    }
    .grid-pic1, .grid-text1, .grid-text2 {
        padding: 10px; 
    }
}