*{
    margin: 0;
    padding: 0;
    font-family: "Calibri, Helvetica, sans-serif"

}
.main{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(248, 135, 14, 0.35), rgba(82, 15, 225, 0.6)), url(../fotos/foto1.jpg);
    background-size: cover;
    background-position: center;
    padding-left: 2%;
    padding-right: 2%;
    box-sizing: border-box;
}
.navbar{
    height: 12%;
    display: flex;
    align-items: center;
}
.logo{
    width: 160px;
    cursor: pointer;
}
nav{
    flex: 1;
    text-align: right;
}

nav ul{
    list-style: none;
    width: 100%;
    text-align: right;
    padding-right: 60px;
}
nav ul li{
    list-style: none;
    display:inline-block;
    margin-left: 60px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}
.btn{
    align-items: center;
    padding: 10px 20px;
    border: 0;
    outline: 0;
    border-radius: 5%;
    background: #f5168d;
    color: #fff;
    margin-right: 20px; /* Voeg deze regel toe voor meer ruimte */
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.menubtn{
    background: none;
    padding: 3x; /* Aangepaste padding voor een kleiner formaat */
    border: 0;
    outline: 0;
    border-radius: 5%; /* Maakt de knop rond */
    align-items: center;
    margin-right: 30px;
    
}
.menubtn img{
    width: 40px; /* Aangepaste breedte van het pictogram */
    display: flex;
    cursor: pointer;
}
.row{
    display: flex;
    height: 88%;
    align-items: center;

}

.col{
    flex-basis: 50%;
    margin-top: 120px;
}
p{
    color: #fff;
    font-size: 20px;
    line-height: 15px;

}
h1{
    color: #fff;
    font-size: 100px;
}
#explorebtn{
    margin-top: 20px;
    border-radius: 20px;
    padding: 12px 0;
    width: 300px;
    font-size: 20;
    outline: 0;

}
.card{
    width: 280px;
    height: 310px;
    display: inline-block;
    border-radius: 10px;
    padding: 10px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-image: url(../fotos/mexico.jpg);
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;

}
.card1{
    background-image: url(../fotos/mexico.jpg);
}
.card2{
    background-image: url(../fotos/massimiliano-donghi-JXsxH2shRgY-unsplash.jpg);
}
.card3{
    background-image: url(../fotos/carles-rabada-yKAgTzz7jWk-unsplash.jpg);
}
.card4{
    background-image: url(../fotos/charles-postiaux-WOw3Pcdmw4I-unsplash.jpg);
}
.card:hover{
    transform: translatey(-10px);
}
h5{
    font-size: 20px;
    color: #fff;
    text-shadow: 0 0 5px #999;
}
.card p{
    text-shadow: 0 0 5px #000;
    font-size: 15px;
}
/* Phone/tablet settings */

@media screen and (max-width: 768px) {
    .main {
        background-image: linear-gradient(rgba(248, 135, 14, 0.35), rgba(82, 15, 225, 0.6)), url(../fotos/mobile.jpg);
        padding-left: 0;
        padding-right: 0;
    }
}
@media screen and (max-width: 768px) {
    .navbar{
        flex-direction: column;
    }
    .menubtn{
        margin-left: 30px;
    }
    nav {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    nav ul {
        text-align: center;
        padding: 0;
        margin-top: 10px;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    .btn {
        margin-top: 10px;
        margin-left: 10px;
        
    }
    .row{
        flex-direction: column;
        align-items: center;
    }
    .col{
        flex-direction: column;
        align-items: center;
    }
}