*{
    margin: 0;
    padding: 0;
    font-family: "Helvetica, Arial, sans-serif";
    font-weight: 500;
    line-height: 1.5;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(rgb(141 58 58 / 41%), rgb(219 199 182 / 57%)), url(../fotos/ballon.jpg);
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    min-height: 100%;
}
/* header{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 5rem;
    background-color: rgba(0,0,0,0.05);
    z-index: 1;
    transition: 0.5s;
}
header.scroll{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: -5rem;
    background-color: rgba(0,0,0,0.1);
    z-index: 1;
    transition: 0.5s;
}
.logo{
    position: absolute;
    width: 100%;
    height: auto;
    left: 6%;
    bottom: -6px;
    text-transform: uppercase;
    font-size: 1.5rem;
    color:#000000; 
}

nav{
    position: relative;
    display: inline-flex;
    left: 650px;
    bottom: 0rem;
    width: auto;
    margin-top: 35px;
}
nav span{
    margin-left: 85px;
    margin-bottom: 20px;
    background: none;
    padding: 3px;
    border: 0;
    outline: 0;
    border-radius: 5%;
    cursor: pointer;
}

.navbar{
    list-style: none;
    margin-bottom: 24px;

}
.navbar li{
    display: inline-block;
    padding: 0px 40px;
}
.navbar li a{
    transition: all0.3 ease 0s;
    color: #fff;
    font-family:"Helvetica, monospace, Arial, sans-serif";
    text-transform: uppercase;
    text-decoration: none;
    display: block;
}
.navbar li a:hover{
    text-decoration: none;
    color: gray;
    font-family:"Helvetica, monospace, Arial, sans-serif";
    text-transform: uppercase;
    
}
.navbar li a::after{
    content:'';
    display: block;
    width:0;
    height: 1px;
    background: #000000;
    transition: width 0.3s;
    
}
.navbar li a:hover::after{
    width: 100%;
    transition: width 0.3s;
} */
.btn{
    align-items: center;
    padding: 10px 20px;
    border: 0;
    outline: 0;
    border-radius: 5%;
    cursor: pointer;
    background-color: #986E43;
    color: #fff;
    font-size: 20px;
}
.loginbtn{
    background: none;
}

#textfrontpage{
    margin-left: 6%;
    margin-top: 4%;
}
.row{
    display: flex;
    height: 88%;
    align-items: center;

}

.col{
    flex-basis: 50%;
    margin-top: 120px;
}
p{
    color: #fff;
    font-size: 20px;
}
h1{
    color: #fff;
    font-size: 100px;
}
h2{
    color: #fff;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}
h3{
    color: #441c5f;
    font-size: 23px;
    font-weight: 550;
    text-shadow: 0.6px 0.6px rgba(255, 255, 255, 0.383);
}
#explorebtn{
    margin-top: 20px;
    border-radius: 20px;
    padding: 12px 0;
    width: 300px;
    font-size: 20;
    outline: 0;
    transition: transform 0.5s;
}
#explorebtn:hover{
    transform: translateY(-10px);
}
.linkpurple:hover{
    background-color:fuchsia
}
.card{
    width: 280px;
    height: 310px;
    display: inline-block;
    border-radius: 10px;
    padding: 10px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-image: linear-gradient(rgb(75 180 139 / 35%), rgb(0 46 4 / 50%)), url(../fotos/mexico.jpg)url(../fotos/mexico.jpg);
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;

}
.card1{
    background-image: url(../fotos/mexico.jpg);
}
.card2{
    background-image: url(../fotos/massimiliano-donghi-JXsxH2shRgY-unsplash.jpg);
}
.card3{
    background-image: url(../fotos/carles-rabada-yKAgTzz7jWk-unsplash.jpg);
}
.card4{
    background-image: url(../fotos/charles-postiaux-WOw3Pcdmw4I-unsplash.jpg);
}
.card:hover{
    transform: translatey(-10px);
}
h5{
    font-size: 20px;
    color: #fff;
    text-shadow: 0 0 5px #999;
}
.card p{
    text-shadow: 0 0 5px #000;
    font-size: 15px;
}

/* Login screen classes */
.login-input {
    padding: 10px; 
    margin: 5px 0;
    border: 2px solid #461d63bd;
    border-radius: 4px; 
    background-color: #8b64d47a; 
    font-size: 14px; 
    width: calc(100% - 20px); 
    box-sizing: border-box; 
}



/*Destinations page*/
/* --------------- */
/*
.body{
	width: 100%;
	text-align: center;
}
.heading{
	width: 50%;
	text-align: center;
    z-index: 10;
    margin-left: 30%;
	color: #fff;
    background-color: #f5168d;
}
.heading h2{
	font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;

}
.heading p{
    font-family: Arial, Helvetica, sans-serif;

}
*/

.center {
    border: 5px solid;
    margin: auto;
    width: 50%;
    padding: 10px;
  }

/* Profile page */
/* ------------ */
.profile body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.profile .container {
    width: 110%;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    margin-top: 100px;
}
.profile .profile-info {
    margin: 0;
    padding: 0;
    list-style: none;
}
.profile .profile-info li {
    margin-bottom: 10px;
}

/* Form styles */

.form-container body {
    align-items: center;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
.form-container .formsignup {
    background-color: #15172b;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 20px;
    width: 320px;
  }

.form-container .formlogin {
   background-color: #15172b;
   border-radius: 20px;
   box-sizing: border-box;
   padding: 20px;
   width: 320px;
 }

 .form-container .title {
    color: #eee;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 600;
    margin-top: 30px;
  }
  
  .form-container .subtitle {
    color: #eee;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
  }
  
  .form-container .input-container {
    height: 50px;
    position: relative;
    width: 100%;
  }
  
  .form-container .ic1 {
    margin-top: 40px;
  }
  
  .form-container .ic2 {
    margin-top: 30px;
  }
  
  .form-container .input {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
  }
  
  .form-container .cut {
    background-color: #15172b;
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 76px;
  }
  
  .form-container .cut-short {
    width: 50px;
  }
  
  .form-container .input:focus ~ .cut,
  .form-container .input:not(:placeholder-shown) ~ .cut {
    transform: translateY(8px);
  }
  
  .form-container .placeholder {
    color: #65657b;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
  }
  
  .form-container .input:focus ~ .placeholder,
  .form-container .input:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-30px) translateX(10px) scale(0.75);
  }
  
  .form-container .input:not(:placeholder-shown) ~ .placeholder {
    color: #808097;
  }
  
  .form-container .input:focus ~ .placeholder {
    color: #dc2f55;
  }
  
  .form-container .submit {
    background-color: #08d;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    text-align: center;
    width: 100%;
  }
  
  .form-container .submit:active {
    background-color: #06b;
  }

/* --------------------- */
/* Dropdown Menu classes */
/* --------------------- */
.dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown Content (Hidden by Default) */
/* .dropdown-content {
    display: none;
    position: absolute;
    background-color: #4c2268;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
/* .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
} */

/* Change color of dropdown links on hover */
/* .dropdown-content a:hover {background-color: #370d7f} */

/* Show the dropdown menu on hover */
/* .dropdown:hover .dropdown-content {
    display: block;
} */ */

/* halve screen settings 
@media screen and (max-width: px) {
/*
/* Phone/tablet settings */

/* navigatie flow in */
.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgba(82, 15, 225, 0.6);
    overflow-y: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 10%;
    width: 100%;
    text-align: left;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 90px;
    z-index: 2;
  }
  
  @media screen and (max-height: 450px) {
    .overlay {overflow-y: auto;}
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
}
  
/* Phone screen and smaller screens*/
@media screen and(max-width: 450px) {
    body{
        background-image: linear-gradient(rgba(248, 135, 14, 0.35), rgba(82, 15, 225, 0.6)), url(../fotos/mobile.jpg);
        background-size: cover;
        background-position: center;
        padding-left: 2%;
        padding-right: 2%;
        box-sizing: border-box;
    }
    header{
        height: 2rem;
    }
    
    header.scroll{
        height: -2rem;
    }
    .logo img{
        width: 60%;
    }
    header nav ul li span{
        right: 4%;
    }
}
@media screen and (max-width: 1200px) {
    body {
        background-image: linear-gradient(rgba(248, 135, 14, 0.35), rgba(82, 15, 225, 0.6)), url(../fotos/mobile.jpg);
        background-size: cover;
        background-position: center;
    }
    header{
        flex-direction: column;
    }
    nav {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    nav ul {
        flex-direction: column;
        text-align: center;
        padding: 0;
        margin-top: 10px;
    }
    .row{
        margin: auto;
        width: 50%;
        flex-direction: column;
        align-items:center;
    }
    .col{
        flex-direction: column;
        align-items: center;
    }

}
@media screen and (max-width: 1300px) {
    #topspotsnav{
        display: none;
    }
    #destinationsnav{
        display: none;
    }
    #loginnav{
        display: none;
    }
    nav {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    nav ul {
        flex-direction: column;
        text-align: center;
        padding: 0;
        margin-top: 10px;
    }
    .row{
        margin: auto;
        width: 50%;
        flex-direction: column;
        align-items:center;
    }
    .col{
        flex-direction: column;
        align-items: center;
    }
}

/* Navbar classes */
/* -------------- */


/* Footer styling */
/* -------------- */

.nieuwe_footer_box {
    width: 100%;
    height: 400px;
    background-color: white;
    align-items: center;
    display: flex;
    justify-content: center;
}

.box_van_contact_info {
    padding: 1%;
    width: 94%;
    height: 80%;
    background-color: white;
    color: black;
    text-align: left;
    align-self: center;
}

.waves {
    position:relative;
    width: 100%;
    height:15vh;
    margin-bottom:-7px; /*Fix for safari gap*/
    min-height:100px;
    max-height:150px;
  }

.parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}
.parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}
.parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}
.parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}
@keyframes move-forever {
    0% {
     transform: translate3d(-90px,0,0);
    }
    100% { 
      transform: translate3d(85px,0,0);
    }
}

.footer_icon img{
    margin-top: 10px;
    margin-left: 10px;
    transition: transform 0.4s;
}

.footer_icon:hover img{
    transform: scale(1.06);
}

#footer_social {
    font-size: large;
    font-family: 'Poppins', sans-serif;
}

#footer_over_ons {
    font-size: large;
    font-family: 'Poppins', sans-serif;
}

.social_box {
    text-align: right;
}

.footer_tabel{
    
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100%;
    border-radius: 14px;
    padding: 5px;
}

.footer_tabel tr{
    font-size: 105.5%;
    font-family: 'Poppins', sans-serif;
}

.footer_tabel a{
    text-decoration: none;
    color: #986E43;
    font-family: 'Poppins', sans-serif;
}

.footer_tabel a:hover{
    color: gray;
}

.footer_main{
    border-radius: 10px;
    border-color: #986e43;
    border-style: double;
    transition: transform 0.4s;
    max-width: 20%;
}

.footer_main:hover{
    transform: scale(1.02);
}
.footer_images {
    text-align: center; 
    margin-bottom: 20px; 
}

.footer_images img {
    margin: 0 10px; 
    width: auto; 
    height: 100px;
}

/* Destinations page */
/* ----------------- */
.world-map body{
    margin: 0;
    font-family: sans-serif;
    background: rgb(242, 234, 220);
}
.world-map *{
    box-sizing: border-box;
    width: 100%;
    margin-top: 1rem;
}

.world-map{
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 1rem;
    position: relative;
}

.world-map .image{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.world-map .pin{
    background: #E0B287;
    position: absolute;
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 50%;
}
.world-map .pin::before{
    content: '';
    position: absolute;
    background: #E0B287;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    animation: pulse 1.3s ease-in-out infinite;
}
.world-map .pin span{
    display: inline-table;
    white-space: nowrap;
    position: absolute;
    left: 1.5rem;
    top: 50%;
    transform: translateY(-100%);
    background: #e0b287;
    border-radius: 3em;
    padding: 0.3em 0.6em;
}
.guatemala{
    top: 60%;
    left: 22.1%;
}
.costa-rica{
    top: 62%;
    left: 24%;
}
.australia{
    top: 72%;
    left: 83%;
}
.italy{
    top: 47%;
    left: 50%;
}
.portugal{
    top: 49%;
    left: 44.5%;
}
.norway{
    top: 35%;
    left: 49%;
}
.usa{
    top: 49%;
    left: 18%;
}
.belize{
    top: 59%;
    left: 23%;
}
.iceland{
    top: 33%;
    left: 41.7%;
}
@keyframes pulse {
    100% {
        opacity: 0;
        transform:
            translate(-50%, -50%)
            scale(2.5);
    }
}

@media screen and (max-width: 600px) {
    .world-map{
        font-size: 13px;
    }
}


/* 403 page */
/* --------- */
@import url('https://fonts.googleapis.com/css?family=Lato');



.forbidden * {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.forbidden body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom right, #EEE, #AAA);
}

.forbidden h1 {
  margin: 40px 0 20px;
}

.forbidden .lock {
  border-radius: 5px;
  width: 55px;
  height: 45px;
  background-color: #333;
  animation: dip 1s;
  animation-delay: (1s - .5);
  
  &::before,
  &::after {
    content: '';
    position: absolute;
    border-left: 5px solid #333;
    height: 20px;
    width: 15px;
    left: calc(50% - 12.5px);
  }
  
  &::before {
    top: -30px;
    border: 5px solid #333;
    border-bottom-color: transparent;
    border-radius: 15px 15px 0 0;
    height: 30px;
    animation: lock 1s, spin 1s;
  }
  
  &::after {
    top: -10px; 
    border-right: 5px solid transparent;
    animation: spin 1s;
  }
}

@keyframes lock {
  0% {
    top: -45px;
  }
  65% {
    top: -45px;
  }
  100% {
    top: -30px;
  }
}

@keyframes spin {
  0% {
    transform: scaleX(-1);
    left: calc(50% - 30px);
  }
  65% {
    transform: scaleX(1);
    left: calc(50% - 12.5px);
  }
}

@keyframes dip {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
